<mat-toolbar class="header">
  <button mat-icon-button (click)="onToggleSidebar()">
    <mat-icon>menu</mat-icon>
  </button>

  <span class="spacer"></span>

  <button mat-icon-button [matBadge]="notifications" matBadgeColor="warn" matBadgeSize="small">
    <mat-icon>notifications</mat-icon>
  </button>

  <button mat-button [matMenuTriggerFor]="userMenu" class="user-menu">
    <span class="user-avatar">{{ user.avatar }}</span>
    <span class="user-name">{{ user.name }}</span>
    <mat-icon>arrow_drop_down</mat-icon>
  </button>

  <mat-menu #userMenu="matMenu">
    <div class="user-info">
      <div class="user-avatar-large">{{ user.avatar }}</div>
      <div class="user-details">
        <div class="user-name">{{ user.name }}</div>
        <div class="user-email">{{ user.email }}</div>
      </div>
    </div>
    <mat-divider></mat-divider>
    <button mat-menu-item routerLink="/settings">
      <mat-icon>person</mat-icon>
      <span>Meu Perfil</span>
    </button>
    <button mat-menu-item routerLink="/settings">
      <mat-icon>settings</mat-icon>
      <span>Configurações</span>
    </button>
    <button mat-menu-item routerLink="/billing">
      <mat-icon>credit_card</mat-icon>
      <span>Faturamento</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="logout()">
      <mat-icon color="warn">logout</mat-icon>
      <span>Sair</span>
    </button>
  </mat-menu>
</mat-toolbar>
